@using CarDealer.Models.ViewModels
@model IEnumerable<SaleVm>
@{
    ViewBag.Title = "All sales";
}

<table class="table table-striped">
    <tr>
        <th>Car sold</th>
        <th>Car sold to</th>
        <th>Sale Price</th>
        <th>Sale Discount</th>
    </tr>
    @foreach (var sale in Model)
    {
        <tr>
            <th>@sale.Car.Model @sale.Car.Make</th>
            <th>@sale.Customer.Name</th>
            <th>@sale.Price</th>
            <th>@sale.Discount</th>
        </tr>
    }
</table>

