<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PlaySchool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PlaySchool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Explore", "Explore", "Game")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        

<h2>Change Profile Picture</h2>
<a class="btn btn-info" href="/Manage/Index">Back to Account Manager</a>
<hr>

<form class="form-horizontal" role="form" action="/Manage/UploadProfilePicture" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="9CT51S-f8rwdMwCgfctywu7ups-QG-T3fC7rNXbWFuvZAsPuWNPBa8yaHyQu2ngsTJwFg4t5-JhyJX0tTOTFp9C-H8yfeabca7ARNI1m128yjJDyN16ce3XEXnGDpSzasmqM7RiYpXxIkgkNTubSbA2">    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="file" class="btn btn-default btn-file" type="file">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-default" type="submit" value="Change Profile Picture">
            </div>
        </div>
    </div>
</form>

    <title>title</title>


<div>
      
</div>

<!-- Visual Studio Browser Link -->
<script id="__browserLink_initializationData" type="application/json">
    {"appName":"Microsoft Edge","requestId":"a8f71091728345acb4a22db9a3b1c846"}
</script>
<script src="http://localhost:4114/cb4feae0426044fdaa31cc60ab3b53dd/browserLink" type="text/javascript" async="async"></script>
<!-- End Browser Link -->



        <hr>
        <footer>
            <p>© 2017 - PlaySchool</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
